*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    background: linear-gradient(to bottom, #374043, #24283d, #4c569c);
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 9, 11, 0.8),rgba(4, 26, 30, 0.8)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    float: right;
    width: 100%;
    padding: 2% 6%;
    justify-content: space-between;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    padding: 9px 12px;
    position: relative;
}
.nav-links ul li a{
    color: bisque;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: #e32323;

    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.nav-links ul li:hover{
    box-shadow:  0 0 10px rgba(15, 5, 11, 0.926);

}
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    
}
.button{
    display: inline-block;
    text-decoration: none;
    color: rgb(232, 126, 167);
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #4e6f79;
    background: #4e6f79;
    color: white;
    transition: .5s;
}

/*courses*/
.course{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.course h1{
    font-size: 35px;
    color: rgb(89, 228, 238);
    text-shadow: 6px 6px 5px rgb(147, 132, 125);
}
.rows{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    height: 300px;
    
}
.course-col{
    flex-basis: 33%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 30px;
}
.course-col img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s;
}
.layer:hover{
    background: rgba(15, 5, 11, 0.5);
}
.layer a{
    width: 100%;
    font-weight: bolder;
    font-weight: 200;
    color: rgb(191, 197, 174);
    text-decoration: underline;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}
.layer:hover a{
    bottom: 49%;
    opacity: 1;
}

/*--facilities--*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

